@model GorevAddViewModel 
@{
    ViewData["Title"] = "AddGorev";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form class="w-75 mx-auto p-3 shadow" method="post" asp-action="AddGorev">
    <div class="form-group">
        <!---->
        <label asp-for="Ad" class="col-form-label"></label>
        <span asp-validation-for="Ad" class="text-danger"></span>
        <input type="text" asp-for="Ad" class=" form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Aciklama" class="col-form-label"></label>
        <span asp-validation-for="Aciklama" class="text-danger"></span>
        <textarea type="text" asp-for="Aciklama" class=" form-control"></textarea>
        <!---->
    </div>
    <div class="form-group">
        <label asp-for="AciliyetId" class="col-form-label"></label>
        <span asp-validation-for="AciliyetId" class="text-danger"></span>
        <select asp-for="AciliyetId" class=" form-control" asp-items="ViewBag.Aciliyetler">
            <option hidden value="-1" class="form-control">Seçiniz..</option>
        </select>
        <!---->
    </div>
    <input type="submit" class="btn btn-success btn-lg" value="Kaydet" />
</form>

@section JavaScript{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>

}

